.wrapper {
    display: block;
    margin: auto;
    // height: 100vh;
    min-height: 100vh;

    .header {
        background: white;
        border-bottom: 1px solid lightgray;
    }

    .sidebarRight {
        background: white;
        border-right: 1px solid lightgray;
    }

    .sidebarLeft {
        background: white;
        padding: 10px;
        border-left: 1px solid lightgray;
    }

    .content {
        padding: 10px;
    }
}